<div class="login-page-container">
    <h1 class="login-page-logo">Kvizer</h1>
    <form #authenticationForm="ngForm" class="login-page-form" name="authenticationForm">
      <label>Username:</label>
      <input [(ngModel)]="login.username" [disabled]="authenticating"
      autocomplete="username" class="login-page-textinput input" name="username"
      placeholder="username" required type="username"
      />
      <label>Password:</label>
      <input [(ngModel)]="login.password" [disabled]="authenticating"
      autocomplete="current-password" class="login-page-textinput1 input" name="password"
      placeholder="password" required type="password"
      />
      <div class="login-page-container1">
        <button (click)="buttonLoginClick()" [disabled]="authenticating"
                        class="login-button-button" type="submit">Login<span
                  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  *ngIf="authenticating"></span>
                </button>
        <a
          href="/registration"
          class="login-page-link"
        >
          Do not have an acount ? Register here
        </a>
      </div>
      <div class="text-danger mt-2" *ngIf="authenticationError">There was an error attempting to log in, please check your username and password and try again.</div>
    </form>
  </div>
