<p>{{quiz.name}} | code: {{code}} | created at: {{quiz.creationDate}} | maker: {{quiz.makerName}}</p>

<div *ngIf="userIsMakerOfThisQuiz && quizStarted == false" >
  <button (click)="buttonStartQuizClick()"
    class="update-button" type="submit">Start quiz
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
  <button (click)="buttonEditQuizClick()"
    class="update-button" type="submit">Edit quiz
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</div>

<button *ngIf="quizStarted" (click)="buttonEndQuizClick()"
      class="update-button" type="submit">End quiz
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

<div class="text-danger mt-2" *ngIf="error">An error ocured, please try again</div>
<div class="text-danger mt-2" *ngIf="quizError">Quiz with that code does not exist</div>