.navbar {
  position: absolute;
  width: 100%;
  background: lightgray;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  transition: padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
  z-index: 999;
}
.navbar >
.container {
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbartop-btn:hover .mat-button-focus-overlay {
  display: none;
}
.navbar:not(.navbar-fixed) .navbartop-btn .mat-button-ripple {
  top: -22px;
  bottom: -22px;
}
.navbar-fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  animation: 0.6s slideDown forwards;
}
.navbar-fixed .container {
  height: 60px !important;
}
.navbar-fixed .navbartop-btn {
  line-height: 60px !important;
}
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 150%;
}
.navbar-logo a {
  display: inherit;
}
.navbar-toggle {
  display: none !important;
  position: absolute !important;
  right: 5px;
}
.icon-button .mat-icon {
  font-size: 20px;
}
.navbartop-btn{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.new-button {
  color: var(--color-primary);
  border-color: var(--color-accent);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-width: 1px;
  border-radius: 50px;
  background-color: var(--color-accent);
}
.logout-container{
  color: var(--color-accent);
  margin-left: 1rem;
  text-align: end;
}

@media (max-width: 991px) {
  .navbar {
    padding: 0;
 }
  .navbar >
  .container {
    height: 60px;
    padding: 0;
 }
  .navbar-opened:host .navbar-mobile-top {
    padding: 13px 0;
 }
  .navbar-toggle {
    display: block !important;
 }
  .navbar-opened:host .container {
    height: auto !important;
    padding: 0px !important;
 }
  .navbar-logo {
    margin-left: 15px;
 }
  .top-navbar {
    display: none !important;
 }
  .navbar-opened:host .top-navbar {
    display: block !important;
    width: 100% !important;
    height: auto;
    flex: none !important;
    color: #000;
    background: #f3f3f3;
 }
  .navbar-opened:host .top-navbar a {
    display: block;
    width: 90%;
    line-height: 56px !important;
 }
}