<header class="navbar"  [ngClass]="{'navbar-fixed': isFixedNavbar}">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
       <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
          <div class="navbar-logo">
             <a routerLink="/home" class="navbar-logo">Kvizer</a>
          </div>
          <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
             <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
          </button>
       </div>
       <div fxFlex class="top-navbar">
          <span fxFlex></span>
          <a mat-button href="" class="navbartop-btn" ><strong>Home</strong></a>
          <a mat-button href="/account" class="navbartop-btn" ><strong>Account</strong></a>
          <a *ngIf="authenticationService.isUserAdmin()" mat-button href="/admin" class="navbartop-btn" ><strong>Admin</strong></a>
          <a mat-button href="/new" class="navbartop-btn new-button" ><strong>New Quiz</strong></a>
          <div class="logout-container">
            <strong>{{authenticationService.getAuthenticatedUserUsername()}}</strong> <br> <a href="#" (click)="logout()" class="link-primary">Logout</a>
          </div>
      </div>
    </div>
  </header>
