<div class="account-page-content-container">
  <h1>My quizes:</h1>
  <div class="quiz-container" *ngIf="quizes != undefined" >
    <table class="quiz-table">
      <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Maker</th>
      <th>Creation date</th>
      </tr>
      <tr *ngFor="let quiz of quizes ;" routerLink="/quiz/{{quiz.code}}">
          <td>{{quiz.code}}</td>
          <td>{{quiz.name}}</td>
          <td>{{quiz.makerName}}</td>
          <td>{{quiz.creationDate}}</td>
          <td>
          <button class="small-red-button" title="delete quiz"
          (click)="delete(quiz)">Delete
          </button>
          </td>
      </tr>
  </table>
</div>
</div>