<div class="registration-page-container">
    <h1 class="registration-page-logo">Kvizer</h1>
    <form class="registration-page-form">
      <h2 class="registration-page-text">Registration</h2>
      <label>Email:</label>
      <input #email
        type="email"
        id="email"
        placeholder="email"
        class="registration-page-textinput input"
      />
      <label>Username:</label>
      <input #username
        type="text"
        id="username"
        placeholder="username"
        class="registration-page-textinput input"
      />
      <label>Password:</label>
      <input #password
        type="password"
        id="password"
        placeholder="password"
        class="registration-page-textinput input"
      />
      <label>Confirm password:</label>
      <input #passwordConfirm
        type="password"
        id="passwordconfirm"
        placeholder="password"
        class="registration-page-textinput input"
      />
      <div class="registration-page-button-container">
        <button (click)="buttonRegisterClick(email.value, username.value, password.value, passwordConfirm.value)" [disabled]="registering"
                        class="black-button" type="submit">Register<span
                  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  *ngIf="registering"></span>
                </button>
        <a
          href=""
          class="registration-page-link"
        >
          Already have an acount ?
        </a>
      </div>
    <div class="text-danger mt-2" *ngIf="registrationError">There was an error while registering, please try again.</div>
    <div class="text-danger mt-2" *ngIf="inputError">All fields are mandatory</div>
    <div class="text-danger mt-2" *ngIf="emailError">Email adress is not valid, please try again</div>
    <div class="text-danger mt-2" *ngIf="usernameError">Username is already taken, please try with a differet username</div>
    <div class="text-danger mt-2" *ngIf="passwordError">Passwords do not match, please try again</div>
    <div class="text-danger mt-2" *ngIf="passwordLengthError">Passwords must be at least 6 characters long</div>
    </form>
  </div>
  