.admin-page-container {
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding: 2rem;
  }
.quiz-container{
    padding: 3rem;
    width: 70%;
}
.users-container{
    padding: 3rem;
    width: 30%;
}
.quiz-table{
    width: 90%;
    text-align: center;
}
.user-table{
    width: 90%;
    text-align: center;
}
.quiz-table tr:hover{
    font-weight: bold;
}

@media(max-width: 991px) {    
    .admin-page-container {
        align-self: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 95%;
        padding: 0;
      }
    .quiz-container{
        width: 90%;
        align-self: center;
    }
    .users-container{
        width: 90%;
        align-self: center;
    }
    .user-table{
        width: 65%;
        margin: auto;
    }
    .quiz-table{
        width: 100%;
        margin: auto;
    }
}