.account-page-content-container {
    display: flex;
    padding: 2rem;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}
.quiz-container{
    width: 80%;
}
.quiz-table{
    width: 90%;
    text-align: center;
}
.quiz-table tr:hover{
    font-weight: bold;
}
@media(max-width: 991px) {
    .quiz-container{
        width: 90%;
    }
}