.answer-page-content-container {
    display: flex;
    padding: 2rem;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}
td{
    padding: 1rem;
}
@media(max-width: 991px) {
    .answer-page-content-container {
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0rem;
    }
}