<div class="home-page-content-container">
    <h1 class="heading landing-page-join-text">Join quiz</h1>
    <input
      type="text"
      placeholder="quiz code"
      class="home-page-textinput input"
    />
    <button
    (click)="buttonJoinClick()"
    [disabled]="joining"
    class="join-button">Join<span
    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
    *ngIf="joining"></span>
    </button>
    <div class="text-danger mt-2" *ngIf="joinError">There was an error attempting to join, please check quiz code and try again.</div>
  </div>