<div class="edit-quiz-page-container" *ngIf="userIsMakerOfThisQuiz">
  <p>{{quiz.name}} | code: {{code}} | created at: {{quiz.creationDate}} | maker: {{quiz.makerName}}</p>
  <form #authenticationForm="ngForm" class="edit-quiz-page-form" name="authenticationForm">
    <div class="edit-quiz-page-input-container">
      <label>Question</label>
      <textarea [(ngModel)]="newQuestion.question"
      class="input" name="question" rows="3" cols="40"
      placeholder="question" required type="text"
      ></textarea>
    </div>
    <div class="edit-quiz-page-input-container">
      <label>Answer</label>
      <textarea [(ngModel)]="newQuestion.answer"
      class="input" name="answer" rows="3" cols="30"
      placeholder="answer" required type="text"
      ></textarea>
    </div>
    <div class="edit-quiz-page-input-container" style="width: 8rem;">
      <input
      style="display: none"
      type="file"  accept="image/*" (change)="onFileChanged($event)"
      #fileInput>
      <button class="white-button" (click)="fileInput.click()">Select image</button>
      <div *ngIf="fileInput.value && !notImageError">Image selected</div>
      <div class="text-danger" *ngIf="notImageError">File must be an image</div>
    </div>
    <button (click)="buttonSubmitQuestionClick()" [disabled]="newQuestion.question == '' || newQuestion.answer == ''"
      class="black-button" type="submit">Submit new question
    </button>
    
  </form>

    <div cdkDropList class="question-list" (cdkDropListDropped)="drop($event)">
        <div class="question-box" *ngFor="let question of questions" cdkDrag>
          <div class="question-custom-placeholder" *cdkDragPlaceholder></div>
          {{question.position}}. {{question.question}}<br/>---- {{question.answer}}
          <a routerLink="/question/{{question.id}}">Edit</a>
        </div>
    </div>
    <div class="edit-quiz-page-button-container">
      <button (click)="buttonGoBackClick()"
        class="back-button white-button" type="submit">Go back
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
      <button (click)="reloadCurrentRoute()" *ngIf="orderChanged"
        class="white-button" type="submit">Cancel
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
      <button (click)="buttonSaveQuestionOrderClick()" *ngIf="orderChanged"
        class="black-button" type="submit">Save question order
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
</div>

<div class="text-danger mt-2" *ngIf="error">An error ocured, please try again</div>
<div class="text-danger mt-2" *ngIf="quizError">Quiz with that code does not exist</div>