.question-page-content-container {
    display: flex;
    padding: 2rem;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
}
.question-page-form {
    width: 80%;
    height: auto;
    position: relative;
  }
.question-page-textinput {
    width: 100%;
  }
.question-page-button-container {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    flex-direction: row;
  }
.update-button {
    color: var(--color-primary);
    padding-top: 1rem;
    border-color: var(--color-accent);
    border-width: 1px;
    padding-left: 2rem;
    border-radius: 50px;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: var(--color-accent);
    margin: 3px;
  }
  .update-button:hover {
    border-width: 3px;
    margin: 1px;
  }
  .back-button {
    color: var(--color-accent);
    padding-top: 1rem;
    border-color: var(--color-accent);
    border-width: 1px;
    padding-left: 2rem;
    border-radius: 50px;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: var(--color-primary);
    margin: 3px;
  }
  .back-button:hover {
    border-width: 3px;
    margin: 1px;
  }
  .delete-button {
    color: var(--color-accent);
    padding-top: 1rem;
    border-color: var(--color-accent);
    border-width: 1px;
    padding-left: 2rem;
    border-radius: 50px;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: var(--color-primary);
    margin: 3px;
  }
  .delete-button:hover {
    border-width: 3px;
    margin: 1px;
    border-color: var(--color-warning);
  }

@media(max-width: 991px) {
    .question-page-content-container {
        align-self: center;
        align-items: center;
        width: 85%;
    }
    .question-page-form {
      width: 100%;
    }
  }
@media(max-width: 479px) {
    .question-page-form {
      width: 100%;
    }
  }